.gallery{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.gallery-item{
    max-width: 400px;
}